learning-spark/*.log
learning-spark/metastore_db
learning-flask-appbuilder/app.db
learning-django/sampleapp/sampleapp/confidential.py
*.pyc
*.sqlite3
.terraform
terraform.tfstate.backup
*/*.terraform
*.tfvars.json
